// body{
//     li{
//        font-size: 2vw; 
//     }
    
// }


@import "colores.scss";

@mixin tamaños($width, $height){
    width: $width;
    height: $height;
}

@mixin posicionamiento-items{
    justify-items: center;
    align-items: center;
    text-align: center; 
}
@mixin posicionamiento-items-parrafo{
    justify-items: center;
    align-items: center;
    text-align: left; 
}

@mixin agrandaElemento{
    transition: all .3s;

    &:hover{
        transform: scale(1.15,1.15);
      
    }
}
@mixin agrandaElemento-min {
    transition: all .3s;

    &:hover{
        transform: scale(1.01,1.01);
    }
}

@mixin bordes{
    border: solid rgb(211, 211, 211) 1px;
    border-bottom: solid rgb(182, 182, 182) 2px;
    border-radius: 8px;

    &:hover{
        border: solid rgb(168, 168, 168) 0.5px;
        box-shadow: 0px 1px 5px 5px rgb(194, 191, 191);
    }
}

@mixin divClientes {
    background-color: white;

}

@mixin espaciosBordesParrafos {
    margin: 5em;
    font-size: 1.2vw;
}

body{
    height: 100%;
    background-color: rgb(233, 227, 227);
}
.navbar{
    width: 100%;
    height: 6.8em;
    margin-bottom: 5%;
    align-items: flex-start;
    
    img{
        width: 10%;
        text-align: left;
    }

    ul{
        width: 50%;
        li{
            padding: 2px;
        }
    }
}

// footer
footer{
    background-color: rgb(36, 127, 155);
    @include tamaños(100%, 100%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "listaContacto nada listaNav";


    .listadoIzq{ 
        grid-area: listaContacto;
        list-style: none;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        li{
            display: flex;
            flex-direction: row;
            padding: .5em;

            img{
                @include tamaños(25%, 85%);
            }

            svg{
                position: relative;
                right: .5em;
                top: .2em;    
            }
        }
    }

    .listadoNav{
        grid-area: listaNav;
        list-style: none;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;


        li{
            padding: 3%;
        }
        a{
            text-decoration: none; 
            color: black;
        }
        

    }
}



// texto Estilo 
.estoVaEnRojo{
    color: red;
}

b{
    color: rgb(196, 95, 95);
}

.sinEstiloUL{
    list-style: none;
}

p{
    margin: 0;
}

//CursoCovid
.Introduccion{
    ul{
        list-style: none;
            li{
            padding: 0.3em;
                a{
                    color: black;  
                }
                a:hover{
                    color: grey;
                }
            }
            
    }
    @include tamaños(50%, 100%);
    @include posicionamiento-items-parrafo();      
    background-color: rgb(40, 137, 218);
    padding-bottom: 30em;
    h3{
        text-align: center;
    }  

}
h3{
    font-size: 1.5vw;
}

ol{
    padding: 1.5em;
    li{
        padding: 0.2em;
    }
}

ul{
    padding: 1.5em;
    li{
        padding: 0.2em
    }
}



//FORMULARIO
form{
    position: relative;
    left: 160%;
    bottom: 180%;

    button{
        position: relative;
        left: 43%;
    }

    .IrPagina{
        background-color: blue;
    }
}
// INDEX

.videoInicio{
    @include tamaños(100%, 100%);
}

#grillaIndexM{

    div{
        @include divClientes();
        @include agrandaElemento();
        @include bordes();
        
        @include tamaños(80%, 70%);
        @include posicionamiento-items();
        
        img{
            @include tamaños(90%, 30%);
            padding: 2%;
        }

        svg{
            padding: 5%;
        }
        p{
            padding: 1%;
        }
    }
}

// CLIENTES
#grillaClientes{

    #grillaClientesM{
        .imagenPresentacion{
            img{
                @include tamaños(100%, 100%)
            }
        }

        .cliente-Clientes1{
            @include agrandaElemento-min();
            background-color: $colorCLientes;
        }
        .cliente-Clientes2{
            @include agrandaElemento-min();
            background-color: $colorCLientes;
        }
        .cliente-Clientes3{
            @include agrandaElemento-min();
            background-color: $colorCLientes;
        }
        .cliente-Clientes4{
            @include agrandaElemento-min();
            background-color: $colorCLientes;
        }
        .cliente-Clientes5{
            @include agrandaElemento-min();
            background-color: $colorCLientes;
        }
        .cliente-Clientes6{
            @include agrandaElemento-min();
            background-color: $colorCLientes;
        }
        .cliente-Clientes7{
            @include agrandaElemento-min();
            background-color: $colorCLientes;
        }
        .cliente-Clientes8{
            @include agrandaElemento-min();
            background-color: $colorCLientes;
        }
    } 
}
.finalizacion{
    position: relative;
    bottom: 8em;
}
.irAlFormulario{
    background-color: rgb(20, 20, 187);
    border-radius: 1vw;
    padding: 0.8em;
    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    position: relative;
    bottom: 3em;
    
}

.irAlFormulario:hover{
    @include agrandaElemento();
}


a:hover{
    color: rgb(71, 68, 68);
}




@media only screen and (min-width:600px){



    #grillaIndex{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto 1fr 1fr 1fr 1fr 10%;
    grid-template-areas: "navbar navbar navbar navbar"
                         "main main main main"
                         "main main main main"
                         "main main main main"
                         "main main main main"
                         "footer footer footer footer";
    .navbar{
        grid-area: navbar;
    }

    footer{
        grid-area: footer;
    }

    #grillaIndexM{
        grid-area: main;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 20% 5% 40em 40em;
        grid-template-areas:"video video presentacion presentacion"
                            "titulo titulo titulo titulo"
                            "cliente1 cliente2 cliente3 cliente4"
                            "cliente5 cliente6 cliente7 cliente8";
        @include posicionamiento-items();

        .videoInicio{
            grid-area: video;
        }

        .textoInicio{
            grid-area: presentacion;
        }

        .tituloI{
            margin-top: 5%;
            grid-area: titulo;
        }

        .cliente1{
            grid-area: cliente1;
        }
        .cliente2{
            grid-area: cliente2;
        }
        .cliente3{
            grid-area: cliente3;
        }
        .cliente4{
            grid-area: cliente4;
        }
        .cliente5{
            grid-area: cliente5;
        }
        .cliente6{
            grid-area: cliente6;
        }
        .cliente7{
            grid-area: cliente7;
        }
        .cliente8{
            grid-area: cliente8;
        }
    }

    }


    #grillaClientes{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 10%;
        grid-template-areas: "header header header header"
                            "main main main main"
                            "main main main main"
                            "main main main main"
                            "main main main main"
                            "main main main main"
                            "main main main main"
                            "main main main main"
                            "main main main main"
                            "main main main main"
                            "footer footer footer footer";
        .navbar{
            grid-area: header;
        }

        footer{
            grid-area: footer;
        }

        #grillaClientesM{
            grid-area: main;
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-rows: 1fr 20em 20em 20em 20em 20em 20em 20em 20em 15em;
            grid-template-areas: "imagen imagen imagen imagen"
                                "cliente1 cliente1 cliente1 cliente1"
                                "cliente2 cliente2 cliente2 cliente2"
                                "cliente3 cliente3 cliente3 cliente3"
                                "cliente4 cliente4 cliente4 cliente4"
                                "cliente5 cliente5 cliente5 cliente5"
                                "cliente6 cliente6 cliente6 cliente6"
                                "cliente7 cliente7 cliente7 cliente7"
                                "cliente8 cliente8 cliente8 cliente8"
                                "nada nada nada nada";
            
        }
        
        .imagenPresentacion{
            grid-area: imagen;
            position: relative;
            bottom: 9%;
            img{
                filter: blur(2px);
            }
            img:hover{
                filter: blur(0px);
                transition: all 1s;
            }

            h1{
                width: auto;
                position: relative;
                color: rgb(255, 255, 255);
                bottom: 10em;
                left: 15em;
                font-family: 'Secular One', sans-serif;
            }
        }

        @mixin clientesArea{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 100%;
            grid-template-areas: "imagen nada texto";
            margin:0 3em 3em 7em;
            @include posicionamiento-items();
            img{
                grid-area: imagen;
            }
            p{
                grid-area: texto;
            }
        }
        @mixin clientesArea2{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 100%;
            grid-template-areas: "texto nada imagen";
            margin:0 7em 3em 3em;
            @include posicionamiento-items();
            img{
                grid-area: imagen;
            }
            p{
                grid-area: texto;
            }
        }
        .cliente-Clientes1{
            grid-area: cliente1;
            @include clientesArea();
        }
        .cliente-Clientes2{
            grid-area: cliente2;
            @include clientesArea2();
        }
        .cliente-Clientes3{
            grid-area: cliente3;
            @include clientesArea();
            @include bordes();
        }
        .cliente-Clientes4{
            grid-area: cliente4;
            @include clientesArea2();
            @include bordes();
        }
        .cliente-Clientes5{
            grid-area: cliente5;
            @include clientesArea();
            @include bordes();
        }
        .cliente-Clientes6{
            grid-area: cliente6;
            @include clientesArea2();
            @include bordes();
        }
        .cliente-Clientes7{
            grid-area: cliente7;
            @include clientesArea();
            @include bordes();
        }
        .cliente-Clientes8{
            grid-area: cliente8;
            @include clientesArea2();
            @include bordes();
        }

    }



    #grillaCursos{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 40em 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 20em;
        grid-template-areas: "header header header header"
                             "main main main main"
                             "main main main main"
                             "main main main main"
                             "main main main main"
                             "main main main main"
                             "main main main main"
                             "main main main main"
                             "main main main main"
                             "main main main main"
                             "main main main main"
                             "main main main main"
                             "main main main main"
                             "main main main main"
                             "main main main main"
                             "main main main main"
                             "main main main main"
                             "footer footer footer footer";

        .navbar{
            grid-area: header;
        }

        footer{
            grid-area: footer;
        }
        #grillaCursosM{
            grid-area: main;
            font-size: 1.2vw;
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-rows:1em 45em 20em 45em 28em 25em 30em 15em 25em 480em 25em 115em 45em 30em 15em 5em 5em;
            grid-template-areas: "imagen imagen imagen imagen"
                                "titulo titulo titulo titulo"
                                "Introduccion Introduccion Introduccion Introduccion"
                                "parrafo1 parrafo1 parrafo1 parrafo1"
                                "parrafo2 parrafo2 parrafo2 parrafo2"
                                "parrafo3 parrafo3 parrafo3 parrafo3"
                                "parrafo4 parrafo4 parrafo4 parrafo4"
                                "parrafo5 parrafo5 parrafo5 parrafo5"
                                "parrafo6 parrafo6 parrafo6 parrafo6"
                                "parrafo7 parrafo7 parrafo7 parrafo7"
                                "parrafo8 parrafo8 parrafo8 parrafo8"
                                "parrafo9 parrafo9 parrafo9 parrafo9"
                                "parrafo10 parrafo10 parrafo10 parrafo10"
                                "parrafo11 parrafo11 parrafo11 parrafo11"
                                "parrafo12 parrafo12 parrafo12 parrafo12"
                                // "videoE videoE videoE videoE"
                                "siguiente siguiente siguiente siguiente";
            @include posicionamiento-items-parrafo();
            
            .imagenCurso{
                grid-area: imagen;
                @include posicionamiento-items();
            }

            .titulo{
                grid-area: titulo;
            }

            .Introduccion{
                grid-area: Introduccion;
                position: relative;
                bottom: 15em;


                
            }

            .parrafo1{
                grid-area: parrafo1;
                background-color: rgb(230, 222, 222);
                @include tamaños(70%, 100%);
                @include espaciosBordesParrafos();
              //va bien
            }
            .parrafo2{
                grid-area: parrafo2;
                background-color: rgb(230, 222, 222);
                @include tamaños(70%, 100%);
                @include espaciosBordesParrafos();
              //va bien
            }
            .parrafo3{
                grid-area: parrafo3;
                background-color: rgb(230, 222, 222);
                @include tamaños(70%, 100%);
                @include espaciosBordesParrafos();
              //va bien
            }
            .parrafo4{
                grid-area: parrafo4;
                background-color: rgb(230, 222, 222);
                @include tamaños(70%, 100%);
                @include espaciosBordesParrafos();
              //va bien
            }
            .parrafo5{
                grid-area: parrafo5;
                background-color: rgb(230, 222, 222);
                @include tamaños(70%, 100%);
                @include espaciosBordesParrafos();
                position: relative;
                top: 2.5em;
              //va bien
            }
            .parrafo6{
                grid-area: parrafo6;
                background-color: rgb(230, 222, 222);
                @include tamaños(70%, 100%);
                @include espaciosBordesParrafos();
                position: relative;
                top: 2em;
              //va bien
            }
            .parrafo7{
                grid-area: parrafo7;
                background-color: rgb(230, 222, 222);
                @include tamaños(70%, 100%);
                @include espaciosBordesParrafos();
              //va bien
            }
            .parrafo8{
                grid-area: parrafo8;
                background-color: rgb(230, 222, 222);
                @include tamaños(70%, 100%);
                @include espaciosBordesParrafos();
                position: relative;
                top: 5em;
              //va bien
            }
            .parrafo9{
                grid-area: parrafo9;
                background-color: rgb(230, 222, 222);
                @include tamaños(70%, 100%);
                @include espaciosBordesParrafos();
                margin-top: 20em;

              //va bien
            }
            .parrafo10{
                grid-area: parrafo10;
                background-color: rgb(230, 222, 222);
                @include tamaños(70%, 100%);
                @include espaciosBordesParrafos();
                margin-top: 30em;
              //va bien
            }
            .parrafo11{
                grid-area: parrafo11;
                background-color: rgb(230, 222, 222);
                @include tamaños(70%, 100%);
                @include espaciosBordesParrafos();
              //va bien
            }
            .parrafo12{
                grid-area: parrafo12;
                background-color: rgb(230, 222, 222);
                @include tamaños(70%, 100%);
                @include espaciosBordesParrafos();
              //va bien
            }

            // .video-Imagenes-Parrafo{
            //     grid-area: videoE;
            //     @include posicionamiento-items();

            //     video{
            //         @include tamaños(30% , 30%);
            //     }
            // }

            .finalizacion{
                grid-area: Felici;
            }

            .irAlFormulario{
                grid-area: boton;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                a{
                    color: black;
                }

            }
        }
    }

    #grillaCursos2{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 10em 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 10em;
        grid-template-areas: "header header header header"
                            "main main main main"
                            "main main main main"
                            "main main main main"
                            "main main main main"
                            "main main main main"
                            "main main main main"
                            "main main main main"
                            "main main main main"
                            "main main main main"
                            "main main main main"
                            "footer footer footer footer";


        .navbar{
            grid-area: header;
        }

        footer{
            grid-area: footer;
        }


         #grillaCursosM2{
             grid-area: main;
             display: grid;
             grid-template-columns: 25% 25% 25% 25%;
             grid-template-rows: 60em 5em 30em 60em 80em 1em 10em;
             grid-template-areas:"imagen imagen imagen imagen"
                                 "titulo titulo titulo titulo"
                                 "titulo2 titulo2 titulo2 titulo2"
                                 "limpieza limpieza limpieza limpieza"
                                 "alcohol alcohol alcohol alcohol"
                                 "completo completo completo completo"
                                 "formulario formulario formulario formulario"
                                 "volver volver volver volver";
            @include posicionamiento-items();


            .imagenCurso{
                grid-area: imagen;
            }

            .titulo{
                grid-area: titulo;
            }
            .titulo22{
                grid-area: titulo2;
            }

            .Anexo1{
                grid-area: limpieza;
            }

            .anexo2{
                grid-area: alcohol;
            }

            .finalizacion{
                grid-area: completo;
            }

            .irAlFormulario{
                grid-area: formulario;
            }
        }
    }
}



@media only screen and (max-width:600px){

   // footer
    footer{
        background-color: rgb(36, 127, 155);
        @include tamaños(100%, 100%);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "listaContacto"
                             "listaNav";


    .listadoIzq{ 
        grid-area: listaContacto;
        list-style: none;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        li{
            display: flex;
            flex-direction: row;
            padding: .5em;

            img{
                @include tamaños(25%, 85%);
            }

            svg{
                position: relative;
                right: .5em;
                top: .2em;    
            }
        }
    }

    .listadoNav{
        grid-area: listaNav;
        list-style: none;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;


        li{
            padding: 3%;
        }
        a{
            text-decoration: none; 
            color: black;
        }
        

    }
}

@mixin tamañosC{
    @include tamaños(80%, 90%);
}

    #grillaIndex{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "header"
                             "main"
                             "main"
                             "main"
                             "main"
                             "main"
                             "main"
                             "main"
                             "main"
                             "main"
                             "main"
                             "main"
                             "footer";
        .navbar{
            grid-area: header;
        }

        footer{
            grid-area: footer;
        }

        #grillaIndexM{

            grid-area: main;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 2% 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas:"video"
                                "texto"
                                "titulo"
                                "clientes1"
                                "clientes2"
                                "clientes3"
                                "clientes4"
                                "clientes5"
                                "clientes6"
                                "clientes7"
                                "clientes8";
            @include posicionamiento-items();
            
            .videoInicio{
                grid-area: video;
                @include tamaños(80%, 80%)
            }

            .textoInicio{
                grid-area: texto;
            }

            div{
                @include tamañosC();
            }
            .cliente1{
                grid-area: clientes1;
            }
            .cliente2{
                grid-area: clientes2;
            }
            .cliente3{
                grid-area: clientes3;
            }
            .cliente4{
                grid-area: clientes4;
            }
            .cliente5{
                grid-area: clientes5;
            }
            .cliente6{
                grid-area: clientes6;
            }
            .cliente7{
                grid-area: clientes7;
            }
            .cliente8{
                grid-area: clientes8;
            }

            
        }
    }

    #grillaClientes{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "navbar"
                             "main"
                             "main"
                             "main"
                             "main"
                             "main"
                             "main"
                             "main"
                             "main"
                             "main"
                             "footer";
        @include posicionamiento-items();                     
        .navbar{
            grid-area: navbar;
        }

        footer{
            grid-area: footer;
        }

        #grillaClientesM{
            grid-area: main;
            display: grid;
            row-gap: 2em;
            grid-template-columns: 100%;
            grid-template-rows: 1fr 30em 30em 30em 30em 30em 30em 30em 30em;
            grid-template-areas: "videoYtexto"
                                "clientes1"
                                "clientes2"
                                "clientes3"
                                "clientes4"
                                "clientes5"
                                "clientes6"
                                "clientes7"
                                "clientes8";
            // @include posicionamiento-items();
            
            .imagenPresentacion{
                grid-area: videoYtexto;
                img{
                    filter: blur(2px);
                }

                h1{
                    position: relative;
                    bottom: 4em;
                    color: white;
                    font-family: 'Secular One', sans-serif;
                }
            }

            @mixin configuracionClientes{
                @include bordes();
                img{
                    @include tamaños(100%, 50%);
                    padding: 2em;
                }
                p{
                    font-size: 3vw;
                }
            }

            div{
                @include tamañosC();
                position: relative;
                left: 3em;
            }

            .cliente-Clientes1{
                grid-area: clientes1;
                @include configuracionClientes();
            }
            .cliente-Clientes2{
                grid-area: clientes2;
                @include configuracionClientes();
            }
            .cliente-Clientes3{
                grid-area: clientes3;
                @include configuracionClientes();
            }
            .cliente-Clientes4{
                grid-area: clientes4;
                @include configuracionClientes();
            }
            .cliente-Clientes5{
                grid-area: clientes5;
                @include configuracionClientes();
            }
            .cliente-Clientes6{
                grid-area: clientes6;
                @include configuracionClientes();
            }
            .cliente-Clientes7{
                grid-area: clientes7;
                @include configuracionClientes();
            }
            .cliente-Clientes8{
                grid-area: clientes8;
                @include configuracionClientes();
                margin-bottom: 5em;
            }
        }
    }


    #grillaCursos{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "navbar"
                             "main"
                             "main"
                             "main"
                             "main"
                             "main"
                             "main"
                             "main"
                             "main"
                             "footer";
        
        .navbar{
            grid-area: navbar;
        }

        footer{
            grid-area: footer;
        }
        

        #grillaCursosM{
            grid-area: main;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 30em 10em 1fr 1fr 50em 15em 10em;
            grid-template-areas:"imagen"
                                "titulo"
                                "Introduccion"
                                "parrafo"
                                "video-imagenes-parrafos"
                                "finalizacion"
                                "formulario formulario formulario formulario";
            @include posicionamiento-items();

            .imagenCurso{
                grid-area: imagen;
            }

            .titulo{
                grid-area: titulo;
            }

            .Introduccion{
                grid-area: Introduccion;
            }
            
            .parrafo1{
                grid-area: parrafo;
                @include espaciosBordesParrafos();                
            }

            video{
                grid-area: video-imagenes-parrafos;
                @include tamaños(80%, 80%);
            }

            .finalizacion{
                grid-area: finalizacion;
            }

            .irAlFormulario{
                grid-area: formulario;
            }
        }
    }
}